Repository reactjs/fr.react.dev, pull requests merged in 2023-04, with the labels that each got.

#456 Localize remaining in-page doc widgets
  .gitignore
  src/components/MDX/Challenges/Challenge.tsx
  src/components/MDX/Challenges/Challenges.tsx
  src/components/MDX/Challenges/Navigation.tsx
  src/components/MDX/ExpandableCallout.tsx
  src/components/MDX/ExpandableExample.tsx
  src/components/MDX/Recap.tsx
  src/components/Tag.tsx
  src/content/learn/synchronizing-with-effects.md
Labels: translator:seasoned

#458 Traduction of the "Managing state" page
  src/content/learn/managing-state.md
  src/sidebarLearn.json
Labels: Reviewed, scope:required-pages, translator:beginner

#459 Encore des trads de widgets stables au sein des pages de docs
  src/components/MDX/MDXComponents.tsx
Labels: Reviewed, translator:seasoned

#455 Translation of the "Fragment" page
  src/content/reference/react/Fragment.md
Labels: Reviewed, scope:required-pages, translator:beginner

#461 Traduction of the "Reacting to input with state" page
  src/components/MDX/MDXComponents.tsx
  src/content/learn/reacting-to-input-with-state.md
Labels: Reviewed, scope:required-pages, translator:beginner
