Repository reactjs/fr.react.dev, pull requests merged in 2023-08, with the labels that each got.

#546 Translation of the "tutorial" page
  src/content/learn/tutorial-tic-tac-toe.md
  src/sidebarHome.json
  src/sidebarLearn.json
Labels: Reviewed, scope:required-pages, translator:seasoned

#490 Translation of the 'useState' page
  src/content/reference/react/useState.md
Labels: Reviewed, scope:required-pages, translator:beginner

#542 Translation of the “Updating Arrays in State” page
  src/content/learn/updating-arrays-in-state.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#549 Translation of the "Legacy React API" index page
  src/content/reference/react/legacy.md
Labels: Reviewed, scope:secondary-pages, translator:seasoned

#550 Translation of the "createElement" page
  TRANSLATORS.md
  src/content/reference/react/createElement.md
Labels: Reviewed, scope:secondary-pages, translator:seasoned

#552 Translation of the "createFactory" page
  TRANSLATORS.md
  src/content/reference/react/createFactory.md
Labels: Reviewed, scope:secondary-pages, translator:seasoned

#547 Translation of "<option>" page
  src/content/reference/react-dom/components/option.md
Labels: Reviewed, scope:required-pages, translator:beginner

#553 Translation of the "createRef" page
  TRANSLATORS.md
  src/content/reference/react/createRef.md
Labels: Reviewed, scope:secondary-pages, translator:seasoned

#554 Translation of the `isValidElement` page
  TRANSLATORS.md
  src/content/reference/react/isValidElement.md
Labels: Reviewed, scope:secondary-pages, translator:seasoned

#555 Translation of the "PureComponent" page
  TRANSLATORS.md
  src/content/reference/react/PureComponent.md
Labels: Reviewed, scope:secondary-pages, translator:seasoned

#557 Translation of the "useCallback" page
  TRANSLATORS.md
  src/content/reference/react/useCallback.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#551 Translation of "<textarea>" page
  src/content/reference/react-dom/components/textarea.md
Labels: Reviewed, scope:required-pages, translator:beginner

#558 Translation of the "useMemo" page
  TRANSLATORS.md
  src/content/reference/react/useCallback.md
  src/content/reference/react/useMemo.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#559 Translation of the "Using TypeScript" page
  TRANSLATORS.md
  src/content/learn/typescript.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#560 Translations of the "directives" pages
  TRANSLATORS.md
  src/components/MDX/ExpandableCallout.tsx
  src/content/reference/react/directives.md
  src/content/reference/react/use-client.md
  src/content/reference/react/use-server.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#561 Translation of the "createRoot" page
  TRANSLATORS.md
  src/content/reference/react-dom/client/createRoot.md
  src/content/reference/react/useLayoutEffect.md
  src/content/reference/react/useSyncExternalStore.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#562 Translation of the "hydrateRoot" page
  TRANSLATORS.md
  src/components/MDX/Sandpack/NavigationBar.tsx
  src/content/reference/react-dom/client/hydrateRoot.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#566 Translation of the "renderToNodeStream" page
  TRANSLATORS.md
  src/content/reference/react-dom/server/renderToNodeStream.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#567 Translation of the "renderToString" page
  TRANSLATORS.md
  src/content/reference/react-dom/server/renderToNodeStream.md
  src/content/reference/react-dom/server/renderToString.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#563 Translation of create portal
  TRANSLATORS.md
  src/content/reference/react-dom/createPortal.md
Labels: Reviewed, scope:required-pages, translator:beginner

#564 add translation of memo page
  TRANSLATORS.md
  src/content/reference/react/memo.md
Labels: Reviewed, scope:required-pages, translator:beginner

#569 translation of StrictMode
  TRANSLATORS.md
  src/content/reference/react/StrictMode.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#570 Translation of the renderToPipeableStream page
  TRANSLATORS.md
  src/content/reference/react-dom/server/renderToPipeableStream.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#571 Translation of the renderToReadableStream page
  TRANSLATORS.md
  src/content/reference/react-dom/server/renderToReadableStream.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#572 Partial translation of community contents
  TRANSLATORS.md
  src/content/blog/index.md
  src/content/community/acknowledgements.md
  src/content/community/conferences.md
  src/content/community/docs-contributors.md
  src/content/community/index.md
  src/content/community/meetups.md
  src/content/community/team.md
  src/content/community/versioning-policy.md
  src/content/community/videos.md
  src/sidebarCommunity.json
Labels: scope:extra-pages, translator:seasoned

#575 Translations of the warning pages
  src/content/warnings/invalid-aria-prop.md
  src/content/warnings/invalid-hook-call-warning.md
  src/content/warnings/special-props.md
  src/content/warnings/unknown-prop.md
  src/sidebarHome.json
Labels: Reviewed, scope:extra-pages, translator:seasoned
