Repository reactjs/fr.react.dev, pull requests merged in 2023-11, with the labels that each got.

#610 Translation of the latest Canary API pages
  src/content/reference/react-dom/components/form.md
  src/content/reference/react-dom/components/input.md
  src/content/reference/react-dom/hooks/useFormState.md
  src/content/reference/react/useOptimistic.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#612 Translation of the fleshed-out 'use server' directive page
  src/content/reference/react/use-server.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#613 Translation of the fleshed-out "use client" directive page
  .vscode/react-dev.code-snippets
  src/content/reference/react/use-client.md
  src/content/reference/react/use-server.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#599 Versioning policy
  src/content/community/versioning-policy.md
Labels: Reviewed, scope:extra-pages, translator:seasoned

#614 Chore(Docs): fix typo special-props.md
  src/content/warnings/special-props.md
Labels: Reviewed, scope:extra-pages, translator:beginner
