Repository reactjs/fr.react.dev, pull requests merged in 2023-09, with the labels that each got.

#578 Translation of the "Children" page
  TRANSLATORS.md
  src/content/reference/react/Children.md
Labels: Reviewed, scope:secondary-pages, translator:seasoned

#580 Translation of the "Component" page
  TRANSLATORS.md
  src/content/reference/react/Component.md
Labels: Reviewed, scope:secondary-pages, translator:seasoned

#581 Translation of the "React Canaries" blog post
  TRANSLATORS.md
  src/content/blog/2023/05/03/react-canaries.md
  src/content/blog/index.md
  src/sidebarBlog.json
Labels: Reviewed, scope:extra-pages, translator:seasoned

#577 Provide translation of the input page
  TRANSLATORS.md
  src/content/reference/react-dom/components/input.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#582 add french translation for findDOMNode
  TRANSLATORS.md
  src/content/reference/react-dom/findDOMNode.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#583 Translation of the March 2023 React Labs blog post
  TRANSLATORS.md
  src/content/blog/2023/03/22/react-labs-what-we-have-been-working-on-march-2023.md
  src/content/blog/index.md
  src/sidebarBlog.json
Labels: Reviewed, scope:extra-pages, translator:seasoned

#584 React dom common
  src/content/reference/react-dom/components/common.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#586 Translation of the "cache" page
  TRANSLATORS.md
  src/content/blog/2023/05/03/react-canaries.md
  src/content/reference/react/cache.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#588 Translate remaining "Core team" contents (bios)
  src/components/Layout/TopNav/TopNav.tsx
  src/content/community/team.md
  src/sidebarBlog.json
  src/sidebarCommunity.json
Labels: Reviewed, scope:extra-pages, translator:seasoned

#587 Use
  src/content/reference/react/use.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#589 Translation of the remaining parts of the Videos community page
  src/content/community/videos.md
  src/sidebarBlog.json
Labels: Reviewed, scope:extra-pages, translator:seasoned

#591 Translation of the "Introducing react.dev" blog post
  TRANSLATORS.md
  src/content/blog/2023/03/16/introducing-react-dev.md
  src/content/blog/index.md
  src/sidebarBlog.json
Labels: Reviewed, scope:extra-pages, translator:seasoned

#593 Translation of the "React v18.0" blog post
  TRANSLATORS.md
  src/content/blog/2022/03/29/react-v18.md
  src/content/blog/index.md
Labels: Reviewed, scope:extra-pages, translator:seasoned

#594 Translation of the "How to migrate to React 18" blog post
  TRANSLATORS.md
  src/content/blog/2022/03/08/react-18-upgrade-guide.md
  src/content/blog/2022/03/29/react-v18.md
  src/content/blog/index.md
Labels: scope:extra-pages, translator:seasoned

#596 Translation of the "Our Plan for React 18" blog post
  TRANSLATORS.md
  src/content/blog/2021/06/08/the-plan-for-react-18.md
  src/content/blog/index.md
Labels: Reviewed, scope:extra-pages, translator:seasoned

#597 Translation of the "Intro to RSC" blog post
  TRANSLATORS.md
  src/content/blog/2020/12/21/data-fetching-with-react-server-components.md
  src/content/blog/index.md
Labels: Reviewed, scope:extra-pages, translator:seasoned
