Repository reactjs/fr.react.dev, pull requests merged in 2023-06, with the labels that each got.

#484 Translation of the 'useDeferredValue' page
  src/content/reference/react/useDeferredValue.md
Labels: Reviewed, scope:required-pages, translator:beginner

#487 Translation: Start a New Project
  src/content/learn/start-a-new-react-project.md
  src/sidebarLearn.json
Labels: Reviewed, scope:required-pages, translator:seasoned

#485 Translation: Manipulating the DOM with refs
  src/content/learn/manipulating-the-dom-with-refs.md
Labels: scope:required-pages, translator:seasoned

#486 Translation: Render and Commit
  src/content/learn/render-and-commit.md
Labels: scope:required-pages, translator:seasoned

#483 Translation of the 'Add React to an Existing Project' page
  src/content/learn/add-react-to-an-existing-project.md
  src/sidebarLearn.json
Labels: Reviewed, scope:required-pages, translator:beginner

#489 Translation of the “createContext” page
  src/content/reference/react/apis.md
  src/content/reference/react/createContext.md
Labels: Reviewed, scope:required-pages, translator:beginner

#494 Translation of the “Importing and Exporting Components” page
  public/images/docs/illustrations/i_import-export.svg
  src/content/learn/importing-and-exporting-components.md
  src/sidebarLearn.json
Labels: Reviewed, scope:required-pages, translator:beginner
