Repository reactjs/fr.react.dev, pull requests merged in 2023-05, with the labels that each got.

#465 Translation of the "react: Components" page
  src/content/reference/react/Fragment.md
  src/content/reference/react/components.md
Labels: Reviewed, scope:required-pages, translator:beginner

#449 Homepage: traduction au-dessus du fold
  src/components/Layout/HomeContent.js
  src/components/Layout/TopNav/TopNav.tsx
  src/components/SocialBanner.tsx
Labels: Pending Review, translator:seasoned

#464 react:Hooks index page translation
  src/content/reference/react/index.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#450 Getting started
  src/content/learn/index.md
  src/sidebarLearn.json
Labels: Reviewed, scope:required-pages, translator:seasoned

#457 Synchronizing with Effects
  src/components/MDX/Challenges/Challenge.tsx
  src/content/learn/synchronizing-with-effects.md
  src/sidebarLearn.json
Labels: Reviewed, scope:required-pages, translator:seasoned

#469 Translation of the "Profiler" page
  src/content/reference/react/Profiler.md
Labels: Reviewed, scope:required-pages, translator:beginner

#468 doc(adding_interactivity): translate in french the index
  src/content/learn/adding-interactivity.md
  src/sidebarHome.json
  src/sidebarLearn.json
Labels: Reviewed, scope:required-pages, translator:beginner

#467 Translation of the "useId" page from API references
  src/content/reference/react/useId.md
Labels: Reviewed, scope:required-pages, translator:beginner

#473 Translation: You might not need an effect
  src/content/learn/you-might-not-need-an-effect.md
  src/sidebarLearn.json
Labels: Pending Review, scope:required-pages, translator:seasoned

#474 Translation: Escape Hatches (index page)
  src/content/learn/escape-hatches.md
  src/sidebarLearn.json
Labels: Pending Review, scope:required-pages, translator:seasoned

#477 Translation: Removing Effect Dependencies
  src/content/learn/removing-effect-dependencies.md
Labels: Pending Review, scope:required-pages, translator:seasoned

#471 doc(separating-events): french translation
  src/content/learn/separating-events-from-effects.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#475 Translation of the "Editor Config" page
  src/content/learn/editor-setup.md
  src/sidebarLearn.json
Labels: Reviewed, scope:required-pages, translator:beginner

#479 Translation of the “React Developer Tools” page
  src/content/learn/react-developer-tools.md
  src/sidebarLearn.json
Labels: Reviewed, scope:required-pages, translator:beginner

#480 Translation of the "Referencing Values With Refs" page
  src/content/learn/escape-hatches.md
  src/content/learn/referencing-values-with-refs.md
Labels: Pending Review, scope:required-pages, translator:seasoned
