Repository reactjs/fr.react.dev, pull requests merged in 2023-07, with the labels that each got.

#493 translation of Passing Data Deeply with Context
  src/content/learn/passing-data-deeply-with-context.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#500 Translation of the `useImperativeHandle` page
  src/content/reference/react/useImperativeHandle.md
Labels: scope:required-pages, translator:seasoned

#501 Translation of the "useRef" page
  src/content/reference/react/useRef.md
Labels: scope:required-pages, translator:seasoned

#502 Translation of the "State as a snapshot" page
  src/content/learn/adding-interactivity.md
  src/content/learn/state-as-a-snapshot.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#503 Translation of the "Queuing an Series of State Updates" page
  src/content/learn/queueing-a-series-of-state-updates.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#504 Translation of the "installation" page
  src/content/learn/installation.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#505 Translation of the "Describing the UI" page
  src/content/learn/adding-interactivity.md
  src/content/learn/describing-the-ui.md
  src/content/learn/managing-state.md
  src/sidebarLearn.json
Labels: Reviewed, scope:required-pages, translator:seasoned

#506 Translation of the "Your first component" page
  src/content/learn/your-first-component.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#508 Translation of the "Thinking in React" page
  TRANSLATORS.md
  src/content/learn/thinking-in-react.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#495 Translation of the “Updating Objects in State” page
  src/content/learn/updating-objects-in-state.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#509 Translation of the "State: a component's memory" page
  src/content/learn/state-a-components-memory.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#510 Translation of the "Keeping components pure" page
  TRANSLATORS.md
  src/content/learn/keeping-components-pure.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#507 Translation of the "useDebugValue" page from API references
  TRANSLATORS.md
  src/content/reference/react/index.md
  src/content/reference/react/useDebugValue.md
Labels: Reviewed, scope:required-pages, translator:beginner

#497 Extracting state logic into a reducer
  src/content/learn/extracting-state-logic-into-a-reducer.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#511 Scaling up with reducer and context
  src/content/learn/scaling-up-with-reducer-and-context.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#512 Translation of the "forwardRef" page
  src/content/reference/react/forwardRef.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#514 Translation of the "useEffect" page
  src/content/reference/react/useEffect.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#516 Translation of the "useInsertionEffect" page
  src/content/reference/react/useInsertionEffect.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#517 Translation of the "useLayoutEffect" page
  src/content/reference/react/useEffect.md
  src/content/reference/react/useLayoutEffect.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#515 Traduction de Sharing State Between Components
  src/content/learn/sharing-state-between-components.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#519 Translation of the `<Suspense>` page
  src/content/reference/react/Suspense.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#520 Translation of the `startTransition` page
  src/content/reference/react/startTransition.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#523 Translation of the `useTransition` page
  src/content/reference/react/Suspense.md
  src/content/reference/react/useTransition.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#524 Translation of the "React DOM > Components" page
  src/content/reference/react-dom/components/index.md
  src/sidebarReference.json
Labels: Reviewed, scope:required-pages, translator:seasoned

#525 Translation of the "React DOM > APIs" page
  src/content/reference/react-dom/index.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#526 Translation of the "react-dom/client" page
  src/content/reference/react-dom/client/index.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#527 Translation of the react-dom/server page
  src/content/reference/react-dom/server/index.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#528 Translation of the `useSyncExternalStore` page
  src/content/reference/react/useSyncExternalStore.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#529 Finalize footer link translations
  src/components/Layout/Footer.tsx
Labels: Reviewed, scope:extra-pages, translator:seasoned

#530 Translation of the `flushSync` page
  src/content/reference/react-dom/flushSync.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#531 Translation of the `hydrate` page
  src/content/reference/react-dom/hydrate.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#532 Translation of the `render` page
  src/content/reference/react-dom/hydrate.md
  src/content/reference/react-dom/render.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#518 Translation of Preserving and Resetting State
  src/content/learn/preserving-and-resetting-state.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#535 Translation of the `renderToStaticMarkup` page
  src/content/reference/react-dom/server/renderToStaticMarkup.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#536 Translation of the `renderToStaticNodeStream` page
  src/content/reference/react-dom/server/renderToStaticNodeStream.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#522 translate lazy page
  src/content/reference/react/lazy.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#521 Translation of useContext
  src/content/reference/react/useContext.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#537 Translation of the `unmountComponentAtNode` page
  src/content/reference/react-dom/unmountComponentAtNode.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#533 Traduction de useReducer
  src/content/reference/react/useReducer.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#538 Translation of the "Writing Markup in JSX" page
  src/content/learn/writing-markup-with-jsx.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#540 Translation of the "Passing Props to a Component" page
  src/content/learn/passing-props-to-a-component.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#513 Translation of 'Choosing the state structure' page
  src/content/learn/choosing-the-state-structure.md
Labels: Reviewed, scope:required-pages, translator:beginner

#541 Translation of the "Conditional rendering" page
  src/content/learn/conditional-rendering.md
Labels: Reviewed, scope:required-pages, translator:seasoned

#543 Translation of the "Rendering lists" page
  src/content/learn/rendering-lists.md
Labels: Reviewed, scope:required-pages, translator:seasoned
